// Resets
*{
    margin: 0;
    padding: 0;
}
// Paleta
$dark-blue: #8cb6a6;
$dark-blue-transparent: rgba(0, 109, 119, 0.068);
$light-blue: #c0dcf4;
$light: #f9f3ed;
$light-pink: #579a46;
$dark-pink: #5eb24f;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    height: 100vh;
    background-image: url(assets/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.webp);
    background-size: cover;
    overflow: hidden;
}

h1,h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.5em;
}

// main
main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 4%;
    padding: 3% 4%;
    button{
        background-color: $dark-pink;
        border: $dark-pink 2px solid;
        color: $light;
        padding: 10px;
        border-radius: 5px;
        margin-right: 1%;
        &:hover{
            cursor: pointer;
            background-color: $light-pink;
            border: $light-pink 2px solid;
        }
        &.add::before{
            font-family: "fontAwesome";
            content: "\f055";
        }
        &.edit::before{
            font-family: "fontAwesome";
            content: "\f044";
        }
        &.scrap::before{
            font-family: "fontAwesome";
            content: "\f058";
        }
        &.erase::before{
            font-family: "fontAwesome";
            content: "\f12d";
        }
        &.save::before{
            font-family: "fontAwesome";
            content: "\f0c7";
        }
        &.notDone::before{
            font-family: "fontAwesome";
            content: "\f057";
        }
    }
    input {
        width: 60%;
        padding: 10px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: $light;
        border: $dark-blue 2px solid;
        margin-bottom: 1%;
    }
    .emptyAlert{
        padding: 2%;
    }
    .hidden{
        visibility: hidden;
    }
    .taskSection{
        margin-top: 5%;
        .container{
            display: flex;
            width: 100%;
        }
        .taskInput{
            color: grey;
            cursor: auto;
            &:not(:read-only){
                cursor: text;
                color: $dark-blue;
                font-weight: 800;
            }
            &.done{
                text-decoration: line-through;
            }
        }
        .btns{
            width: 30%;
        }
    }
}
